#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"

ASSET_PREFIX=staging
BUNDLE_NAME=My App (Staging)
BUNDLE_DISPLAY_NAME=My App (Staging)
VARIABLE_ONE=moviedemostaging
PRODUCT_BUNDLE_IDENTIFIER=$(VARIABLE_TWO)
VARIABLE_TWO=com.executionlab.moviedemo.staging
